{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    
    <div id="notification">
        {% include 'notification.html' %}
      </div>

    <h3 class="title">Login</h3>
        <form method="POST" action="{{ url_for('auth.login') }}">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="username" class="form-control" id="inputUsername" placeholder="Enter Username" autofocus="">
              </div>

              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="inputCheckBox">
                <label class="form-check-label">Remember</label>
              </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}