{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="dashboard-container">
    
    
    <!-- Chart Transaksi -->
    <div class="card card-style">
        <div class="selection-bar">
            <select id="data-mode" class="form-select" name="data_mode" aria-label="Default select example">
                <option value="daily">Melihat Total Revenue Dalam Hari</option>
                <option value="weekly" selected>Melihat Total Revenue Dalam Minggu</option>
            </select>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas id="transaction"></canvas>
            </div>
        </div>
    </div>
    
    <!-- Chart Peramalan -->
    <div class="card card-style">
        <div class="overlay-content">
            <div class="forecast-form">
                <select id="forecast-period" class="form-select" name="periods" aria-label="Default select example">
                    <option value="4" selected>Ramal Data Per Minggu</option>
                    <option value="4">4 Minggu</option>
                    <option value="8">8 Minggu</option>
                    <option value="12">12 Minggu</option>
                  </select>
                <button id="download" class="btn btn-outline-secondary" type="button">Download</button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas id="forecast"></canvas>
            </div>
        </div>
    </div> 
    
    <!-- Button -->
    <div class="button-container">
        
    </div>
</div>

{% endblock %}

{% block app_scripts %}
<script type = "text/javascript"  src="{{ url_for('static', filename = 'js/dashboard.js') }}"></script>
{% endblock %}
