{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}

<!-- Notification -->
<!--
<div id="notification">
    {% include 'notification.html' %}
</div>
-->

<div class="dashboard-container">
    <!-- Chart Transaksi -->
    <div class="card card-style">
        <div class="card-body">
            <div class="chart-container">
                <canvas id="transaction"></canvas>
            </div>
        </div>
    </div>
    
    <!-- Chart Peramalan -->
    <div class="card card-style">
        <div class="card-body">
            <div class="chart-container">
                <canvas id="forecast"></canvas>
            </div>
        </div>
    </div> 
</div>

 <!-- Sidebar Button -->
<div class="button-container">
    <div class="forecast-form">
        <div class="selection-bar">
            <select id="forecast-period" class="form-select" name="periods" aria-label="Default select example">
                <option value="30" selected>Select Forecast Periods</option>
                <option value="30">30 Hari</option>
                <option value="14">14 Hari</option>
                <option value="7">7 Hari</option>
              </select>
        </div>
        <div class="button-download">
            <button id="download" class="btn btn-outline-secondary" type="button">Download</button>
         </div>
    </div>
</div>
{% endblock %}

{% block app_scripts %}
<script type = "text/javascript"  src="{{ url_for('static', filename = 'js/dashboard.js') }}"></script>
{% endblock %}
