<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Info Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body text-start">
      <h5 class="card-title ">Halo admin!</h5>
      <p class="card-text">Selamat datang di website peramalan data transaksi kedai Kopi-in.</p>
      <a class="btn btn-primary" href="{{ url_for('upload.index') }}">Upload Data</a>
    </div>
  </div>