@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
}

body .wrapper{
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
    padding: 20px;
}

/* start of sidebar design */

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand{
    width: 260px;
    min-width: 260px;
}

#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i{
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo{
    margin: auto 0;
}

.sidebar-logo a{
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    transition: background-color 0.3s ease, border-left 0.3s ease;
}

.sidebar-link i{
    font-size: 1.1rem;
    margin-right: .75rem
}

.sidebar-link:hover{
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item{
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
    position: absolute;
    top: 0;
    left: 70px;
    background-color:#0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

/* end of sidebar design */

/* dashboard page */

/* chart */

.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.card-style {
    flex: 2;
    margin: 10px;
    min-width: 300px; /* Minimum width for each card */
    max-width: 850px; /* Maximum width for each card */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.chart-container {
    position: relative; /* Set container to relative to use absolute positioning inside */
    height: 400px; /* Adjust the height based on your needs */
    width: 100%;
    margin-top: 20px; /* Add margin to create space from above elements */
}

canvas {
    max-width: 100%; /* Ensure canvas does not exceed card width */
    height: 100%; /* Ensure canvas fits within the container */
}
/* end of chart */

/* button */

.overlay-content .forecast-form{
    display: flex;
    flex-direction: row;
}

.overlay-content .forecast-form select, 
.overlay-content .forecast-form button {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.overlay-content .forecast-form button:hover {
    background-color: #3b7ddd;
    color: #fff;
}

/* end of button */

/* end of dashboard page */

/* start of table design */
.form-label {
    margin-bottom: 0;
}

.d-flex {
    align-items: center;
}

/* end of table design */