<table class="table table-bordered">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Payment Type</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transaksi %}
        <tr>
            <td>{{ transaction.Transaction_Id }}</td>
            <td>{{ transaction.Settlement_Date }}</td>
            <td>{{ transaction.Amount }}</td>
            <td>{{ transaction.Payment_Type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
