{%extends 'base.html'%}
{% block title %} Upload {% endblock %}
{%block content%}

<!-- Notification -->
<div id="notification">
  {% include 'notification.html' %}
</div>

<div class="d-flex justify-content-between">
  
  <!--
    <div class="d-grid gap-2 d-md-flex mb-3">
         <form class="d-flex">
             <input type="search" id="search-input" aria-label="Search" name="search"  value="{{ search_query }}" class="form-control me-2" placeholder="Search Transaction">
         </form>
       </div>
  -->

    <!-- Upload form for import data to database -->
    <div class="d-grid gap-2 d-md-flex mb-3">
     <form id="uploadForm" class="d-flex flex-row" method="POST" action="/upload/upload_files" enctype="multipart/form-data">
       <input type="file" class="form-control me-2" id="customFile" name="file"/>
       <button id="upload" class="btn btn-outline-secondary" type="submit">Upload</button>
     </form>
    </div>
</div>

<!-- Table section for show transaction data -->
 <div id="transaction-table">
      {% include 'upload/_transaction_table.html' %}
 </div>

<!-- 
<div id="pagination">
     {% include 'upload/_pagination.html' %}
</div>
-->

{%endblock%}

{%block app_scripts%}
<script>
  window.endpointUrl = "{{ url_for('upload.index') }}";
</script>
<script type = "text/javascript"  src="{{ url_for('static', filename = 'js/upload.js') }}"></script>
<script type = "text/javascript"  src="{{ url_for('static', filename = 'js/tables.js') }}"></script>
<!--
  <script type = "text/javascript"  src="{{ url_for('static', filename = 'js/upload_content.js') }}"></script>
-->
{%endblock%}