<aside id="sidebar">
    <div class="d-flex">
        <button id="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="{{ url_for('main.index') }}">Dashboard-In</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link" href="{{ url_for('main.index') }}">
                <i class="lni lni-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{{ url_for('upload.index') }}">
                <i class="lni lni-upload"></i>
                <span>Upload</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{{ url_for('dashboard.index') }}">
                <i class="lni lni-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
    </ul>
</aside>